# 忽略 PyCharm 配置
.idea/

# 忽略虚拟环境
venv/
env/
__pycache__/

# 忽略 Python 编译生成的文件
*.pyc
*.pyo
*.pyd
*.log

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略 Allure 报告
allure-report/
allure-results/

# 忽略测试缓存
.cache/
.pytest_cache/

# 自动化过程中步骤的截图
screenshots/

# 写代码过程中的测试文件
main.py
